:host {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* div {
    border: 1px solid black;
} */
#stake-input {
    overflow: hidden;
}
.red {
    background: red;
    color: white;
}
.brd-red {
    box-shadow: 0 1px 4px 1px rgba(255, 0, 0, 0.6), 0 -4px 10px 0px rgba(0, 0, 0, 0.5) inset, 0 4px 10px -1px rgba(7, 42, 88, 0.9) inset, 0 -2px 1px 1px rgba(0,0,0,0.4);    
}
.yellow {
    background: #FFD100;
    color: black;
}
.brd-yellow {
    box-shadow: 0 1px 4px 1px rgba(255, 208, 0, 0.5), 0 -4px 10px 0px rgba(0, 0, 0, 0.5) inset, 0 4px 10px -1px rgba(7, 42, 88, 0.9) inset, 0 -2px 1px 1px rgba(0,0,0,0.6);    
}
.blue {
    background: #00AFFF;
    color: white;
}
.brd-blue {
    box-shadow: 0 1px 4px 1px rgba(0, 174, 255, 0.6), 0 -4px 10px 0px rgba(0, 0, 0, 0.5) inset, 0 4px 10px -1px rgba(7, 42, 88, 0.9) inset, 0 -2px 1px 1px rgba(0,0,0,0.5);    
}
.orange {
    background: #EA6000;
    color: white;
}
.brd-orange {
    box-shadow: 0 1px 4px 1px rgba(234, 98, 0, 0.7), 0 -4px 10px 0px rgba(0, 0, 0, 0.5) inset, 0 4px 10px -1px rgba(7, 42, 88, 0.9) inset, 0 -2px 1px 1px rgba(0,0,0,0.4);    
}
.green {
    background: #00D61D;
    color: black;
}
.brd-green {
    box-shadow: 0 1px 4px 1px rgba(0, 214, 29, 0.6), 0 -4px 10px 0px rgba(0, 0, 0, 0.5) inset, 0 4px 10px -1px rgba(7, 42, 88, 0.9) inset, 0 -2px 1px 1px rgba(0,0,0,0.4);    
}
.rose {
    background: #FF37F6;
    color: white;
}
.brd-rose {
    box-shadow: 0 1px 4px 1px rgba(255, 55, 245, 0.6), 0 -4px 10px 0px rgba(0, 0, 0, 0.5) inset, 0 4px 10px -1px rgba(7, 42, 88, 0.9) inset, 0 -2px 1px 1px rgba(0,0,0,0.4);    
}
.purple {
    background: #8C00FF;
    color: white;
}
.brd-purple {
    box-shadow: 0 1px 4px 1px rgba(140, 0, 255, 0.75), 0 -4px 10px 0px rgba(0, 0, 0, 0.5) inset, 0 4px 10px -1px rgba(7, 42, 88, 0.9) inset, 0 -2px 1px 1px rgba(0,0,0,0.4);    
}
input[type="radio"], input[type="checkbox"] {
    display: none;
}
#pick-buttons input + label {
    background: rgba(26, 102, 183, 0.5);
}
#stake-buttons input + label,
#stake-content-ver input + label {
    background: rgba(26, 102, 183, 0.5);
}
#pick-buttons input + label,
#stake-buttons input + label,
#stake-content-ver input + label {
    position: relative;
    border-radius: 20%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-family: sans-serif;
    text-shadow: 0 2px 1px rgba(0,0,0,0.5);
    font-weight: bold;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
#pick-buttons input + label:after,
#stake-buttons input + label:after,
#stake-content-ver input + label:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -1px 3px 0px rgba(0,0,0,0.95) inset;
    border-radius: 20%;
    filter: blur(2px);
}
#pick-buttons input:checked + label,
#stake-buttons input:checked + label,
#stake-content-ver input:checked + label {
    position: relative;
    background: silver;
    color: white;
    border-radius: 20%;
    text-shadow: -1px 2px 5px rgba(0,0,0,0.5), 1px 2px 5px rgba(0,0,0,0.5);
    box-shadow: 0 -2px 5px 0px rgba(0,0,0,0.5) inset;
}
#pick-buttons input:checked + label:after,
#stake-buttons input:checked + label:after,
#stake-content-ver input:checked + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20%;
    background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.95) 10%, transparent 12%);
    box-shadow: 0 3px 3px 0px rgba(0,0,0,0.75);
}
#pick-buttons input + label:active,
#stake-buttons input + label:active,
#stake-content-ver input + label:active,
#pick-buttons input:checked + label:active,
#stake-buttons input:checked + label:active,
#stake-content-ver input:checked + label:active {
    transform: scale(0.95);
}
#main-container {
    padding: 1vw;
    background-image: linear-gradient(180deg, rgb(26, 102, 183) 0, rgb(17, 65, 116) 100%);
    background-position: 50% 50%;
}
#betting-buttons {
    padding: 0.5vw;
    background-image: linear-gradient(180deg, rgb(20, 77, 138) 0, rgb(10, 40, 72) 100%);
    background-position: 50% 50%;
}
#auto-pick {
    padding: 0.5vw;
    background-image: linear-gradient(180deg, rgb(20, 77, 138) 0, rgb(17, 67, 119) 100%);
}
#draw-information {
    overflow: hidden;
    padding: 0.5vw 0;
}
#stake-input {
    padding: 0.5vw;
    background-image: linear-gradient(180deg, rgb(15, 58, 105) 0, rgb(12, 48, 86) 100%);
}
#stake-input input[type="text"] {
    text-align: center;
}
#stake-info {
    overflow: hidden;
    padding: 0.5vw 0;
}
#stake-content-hor {
    height: 100%;
}
#stake-input input[type="text"],
input[type="number"]  {
    overflow: hidden;
    height: 100%;
    color: #0d3158;
    font-size: 100%;
    font-weight: bold;
}
#command-buttons {
    background-image: linear-gradient(180deg, rgb(0, 44, 91) 0, rgb(26, 102, 183) 6%, rgb(20, 77, 138) 15%, rgb(10, 40, 72) 85%, hsla(211, 76%, 11%, 1) 100%);
    margin-left: -1vw;
    margin-right: -1vw;
}
#pick-content {
    height: 100%;
}
#pick-content > label,
#draw-information > label,
#stake-content-hor > label,
#stake-content-ver > label,
#stake-info > label {
    color: white;
    font-weight: 500;
}
button,
label[role="button"],
input[type="button"],
#stake-input input[type="text"],
#stake-info input[type="number"] {
    cursor: pointer;
}
#draw-information label {
    text-align: center;
}
#draw-information input[type="text"] {
    border: none;
    background: rgba(255, 255, 255, 0.75);
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    color: rgb(15, 58, 105);
}
#stake-info > label {
    text-align: right;
    margin-right: 1em;
}
#stake-info input[type="number"] {
    font-size: 130%;
    font-weight: bold;
    text-align: right;
}
button:focus,
label[role="button"]:focus,
input[type="button"]:focus,
input[type="number"]:focus {
    outline: 1px solid rgba(26, 102, 183, 0.5);
}
.bet-button-inner {
    position: relative;
    padding: 0;
    box-shadow: 0 -4px 10px 1px rgba(0,0,0,0.5) inset, 0 4px 1px -1px rgba(255,255,255,0.5) inset;
	border-radius: 50%;
    font-family: Arial Black, Helvetica, sans-serif;
	text-align: center;
    text-shadow: 0 2px 1px rgba(0,0,0,0.5);
    border: none;
}
.bet-button-inner:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    box-shadow: 0px 2px 1px 1px rgba(12, 12, 12, 0.9);
    background: radial-gradient(circle at 50% 3%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5) 10%,  rgba(255, 255, 255, 0) 20%);
    filter: blur(3px);
}
.bet-button-transparent {
    position: relative;
    padding: 0;
	border-radius: 50%;
    font-family: Arial Black, Helvetica, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.2);
	text-align: center;
    text-shadow: 0 2px 1px rgba(0,0,0,0.5);
    background: rgba(26, 102, 183, 0.5);
    color: rgba(255, 255, 255, 0.8);
}
.color-button-inner {
    position: relative;
    border: none;
    box-shadow: 0 2px 5px 0px rgba(255,255,255,0.5) inset, 0 1px 2px 1px rgba(0,0,0,0.4);
}
.color-button-inner:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    border-radius: 20% / 35%;
    box-shadow: 0 -2px 10px 1px rgba(0,0,0,0.5) inset, 0 2px 5px -1px rgba(255,255,255,0.5) inset;
    filter: blur(2px);
}
.color-button-inner:active {
    transform: scale(0.95);
}
.row-button-inner {
    color: rgba(255, 255, 255, 0.8);
    background: rgba(26, 102, 183, 0.5);
    box-shadow: 0 2px 5px -2px rgba(255,255,255,0.5) inset, 0 1px 2px 1px rgba(0,0,0,0.4);
    position: relative;
    border: none;
}
.row-button-inner:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    border-radius: 35% / 20%;
    box-shadow: 0 -2px 10px 1px rgba(0,0,0,0.5) inset, 0 2px 5px -1px rgba(255,255,255,0.5) inset;
    filter: blur(2px);
}
.row-button-inner:active {
    transform: scale(0.95);
}
#command-buttons input[type="button"] {
    position: relative;
    margin: 0.75vw 0 0.5vw 0;
    color: white;
    border: none;
    border-radius: 5% / 20%;
    font-size: 150%;
    background: linear-gradient(180deg, #00AFFF 0%, rgb(0, 104, 153) 100%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 2px 1px rgba(0,0,0,0.5);
    font-weight: 600;
    box-shadow: 0 2px 5px -1px rgba(255,255,255,0.85) inset, 0 -2px 8px 1px rgba(0,0,0,0.7) inset, 0 1px 2px 1px rgba(0,0,0,0.35);
}
#command-buttons input[type="button"]:active {
    transform: scale(0.95);
}
#command-buttons input[type="button"]:disabled {
    background: transparent;
    text-shadow: none;
    box-shadow: 0 2px 5px -1px rgba(255,255,255,0.45) inset, 0 -2px 8px 1px rgba(0,0,0,0.3) inset, 0 1px 2px 1px rgba(0,0,0,0.35);
    color: rgba(255,255,255,0.5);
}